.input__url {
  background-color: #212121;
  height: 40px;
  padding: 10px;
  text-align: center;
  border: 2px solid #888;
  border-radius: 5px;
  width: 90%;
  color: rgb(182, 142, 220);
  outline: none;
}

.copy__button {
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgb(182, 142, 220);
  margin-left: 1rem;
}

.copy__icon {
  height: auto;
  color: rgb(182, 142, 220);
}

.copy__button:hover {
  box-shadow: 0 0 6px rgb(182, 142, 220);
  transition: all 0.15s ease-in-out;
}

@media (max-width: 1100px) {
  .input__url {
    width: 86%;
  }
}
