.features-container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.feature {
  padding: 20px;
  text-align: center;
}

.feature h3 {
  margin-bottom: 1rem;
}

.features-container .feature__icon {
  color: #888;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .features-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .features-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
