@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&family=Roboto+Mono:wght@400;600;700&display=swap");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: #212121;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #e8e8e8;
}

p {
  font-family: "Poppins", sans-serif;
  color: #e8e8e8;
}

.h-100 {
  height: 100vh;
}

.h-70 {
  height: 70vh;
}
